body {
    overflow-x: hidden;
  }

  #carouselExampleDark .carousel-item img {
    height: 400px;
    object-fit: cover;
  }

  .search-form {
    margin-bottom: 50px;
  }

  .featured-listings {
    padding: 50px 0;
    background-color: #f8f9fa;
  }

  .listing-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .listing-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    max-height: 200px;
    align-self: center;
  }

  .row {
    margin-bottom: 40px;
  }

  .listing-card h3,
  .listing-card p {
    text-align: center;
  }

  .listing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .listing-card p {
    margin-bottom: 20px;
  }

  .listing-card:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
  }

  #backcao {
    background-image:url("../src/cao2.jpg")
  }

  .profile-ball {
    width: 65px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    font-size: 0;
  }

  .profile-ball img {
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
  }

  .greeting {
    display: inline-block;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 10px;
  }

  .btn-anuncie {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .btn-anuncie:hover {
    background-color: #e05044;
  }

  @media screen and (max-width: 767px) {
  .row {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .listing-card {
    padding: 10px;
    margin-bottom: 10px;
  }

  .row:not(:first-child) .listing-card {
    margin-top: 20px;
  }
  .col-md-4 {
    padding-bottom: 20px;
  }
}