body {
    background-color: #f8f9fa;
}

.login-container {
    margin-top: 100px;
}

.login-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    animation: slide-up 0.5s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-control {
    border-radius: 8px;
}

.btn-login,
.btn-register {
    border-radius: 8px;
}

.navbar {
    background-color: #b6b8ba !important;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.listing-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.listing-card img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.listing-card h3 {
    margin-top: 0;
}

.listing-card p {
    margin-bottom: 10px;
}